{% load glamr_extras %}
<div class="col-2">
    {% if qnode.negated %}(NOT){% endif %} -{{ qnode.connector }}-{% if editable %}{% include 'mibios_glamr/search_node_form.html' %}{% endif %}
</div>
<div class="col-9">
{% for child in qnode.children %}
    <div class="row" style="display:block">
    {% with qnode=child qnode_path=qnode_path|append:forloop.counter0 col_width=col_width|add:"-2" %}
    {% if child.connector %}
        {% include "mibios_glamr/search_filter.html" %}
    {% else %}
    {{ child|qformat }}{% if editable %} {% include 'mibios_glamr/search_leaf_form.html' %}{% endif %}
    {% endif %}
    {% endwith %}
    </div>
{% endfor %}
</div>
