{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{% block title %}{{ page_title | join:" | " | default:'GLAMR' }}{% endblock %}</title>
    {% block link %}
    <link rel="icon" type="image/png" href="{% static 'glamr/img/GLMA_Logo_Icon.png' %}">
    <link rel="stylesheet" href="{% static 'glamr/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'django_tables2/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'glamr/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'glamr/css/overview_table.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
<!-- version info:
    {{ version_info }}
{% for k, v in version_info.items %}{{ k }}: {{ v|default:'(not available)' }}
{% endfor %}-->
<script src="{% static 'glamr/js/bootstrap.min.js' %}" defer></script>
<div class="container-fluid">
    
    <nav class="navbar navbar-expand-md navbar-dark navbar-main">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item glamr-brand">
                <a class="navbar-brand" href="{{ view.request.META.SCRIPT_NAME }}/">GLAMR
                    <img src="{% static 'glamr/img/GLMA_Logo_Icon.png' %}" class="glamr-logo" alt="GLAMR logo"></a>
            </li>
            <li class="nav-item basic-item">
                <a class="nav-link active" aria-current="page" href="{{ view.request.META.SCRIPT_NAME }}/">Home</a>
            </li>
            <li class="nav-item basic-item"><a class="nav-link" href="{% url 'search_initial' %}">Advanced Search</a>
            <li class="nav-item basic-item"><a class="nav-link" href="#">Contact</a>
            <li class="nav-item basic-item"><a class="nav-link" href="#">About</a>
        </ul>
    </div>
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item navbar-text">Internal:</li>
            <li class="nav-item"><a class="nav-link" href="{% url 'top' %}">table interface</a>
            <li class="nav-item"><a class="nav-link" href="{% url 'schemata_top' %}">DB schemata</a>
        </ul>
    </div>
    </nav>



<div class="container-fluid pt-4">
<!-- begin notifications block -->
{% block notifications %}{% if messages %}                                                       
    <ul class="messages">                                                                            
        {% for message in messages %}                                                                
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaks }}</li>
        {% endfor %}                                                                                 
    </ul>                                                                                            
    <hr>                                                                                             
{% endif %}{% endblock %}                                                                        
<!-- end notifications block ** begin content block -->
{% block content %}{% endblock %}                                                                
<!-- end content block -->
</div>
</div>
</body>
</html>
