{% load glamr_extras %}
{% if qnode.negated %}(NOT){% endif %} -{{ qnode.connector }}-{% if editable %}{% include 'glamr/search_node_form.html' %}{% endif %}
<ul class="list-group">
{% for child in qnode.children %}
    <li class="list-group-item">
    {% with qnode=child qnode_path=qnode_path|append:forloop.counter0 col_width=col_width|add:"-2" %}
    {% if child|is_q %}
        {% include "glamr/search_filter.html" %}
    {% else %}
    {{ child|qformat }}{% if editable %} {% include 'glamr/search_leaf_form.html' %}{% endif %}
    {% endif %}
    {% endwith %}
    </li>
{% endfor %}
</ul>
