{% load django_tables2 %}
{% load i18n %}

<script type="text/javascript">
    $(document).ready(function(){
        if(window.location.search){
            console.log("Sorting...")
            $('.icon-sort').removeClass('bi-caret-down-fill');
            $('.icon-sort').removeClass('bi-caret-up-fill');
            $('.icon-sort').addClass('bi-caret-down');

            var activeElement = window.location.search.split("=")[1]
            if(activeElement.split("-").length > 1){
                activeElement = activeElement.split("-")[1]
                
                $("#"+activeElement + "-sort-icon").addClass('bi-caret-up-fill')
            }
            else{
                $("#"+activeElement+"-sort-icon").addClass('bi-caret-down-fill')
            }
            $("#"+activeElement+"-sort-icon").removeClass('bi-caret-down');
            $('.sort').removeClass('active');
            $("#"+activeElement + "-sort").addClass('active');
        }
        else {
            $("#samples-sort").addClass('active');
            $("#samples-sort-icon").removeClass('bi-caret-down')
            $("#samples-sort-icon").addClass('bi-caret-up-fill')
        }
    });
</script>

{% block table-wrapper %}
    <div class="container-fluid" >
        {% block table %}
        {% block table.thead %}
            {% if table.show_header %}
                <div {{ table.attrs.thead.as_html }}>
                    <div class="card bg-light mb-3">
                        <div class="card-body p-2">
                            <ul class="nav nav-pills mb-1" id="pills-tab">
                            {% for column in table.columns %}
                                    {% if column.orderable %}
                                        <li class="nav-item">
                                            <a class="sort nav-link" id={{ column.attrs.navID }} data-toggle="pill" href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}<i id="{{column.attrs.navID}}-icon" class="icon-sort bi bi-caret-down m-1"></i></a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <span class="nav-link" id={{ column.attrs.navID }} data-toggle="pill" href="#">{{ column.header }}</span>
                                        </li>
                                    {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endblock table.thead %}

            {% block table.tbody %}
                <div class="row">
                    {% for row in table.paginated_rows %}
                        {% block table.tbody.row %}
                            <ul>
                                <li class="card bg-light mb-1">
                                    <div class="card-body">
                                    {% for column, cell in row.items %}
                                        {% if cell|length > 0 %}
                                        {% if column.attrs.cardTitle %}
                                            <div style="display: flex; flex-direction: row">
                                                <h5 class="card-title">{{ cell }}</h5>
                                            </div>
                                        {% else %}
                                            <div class="card-text">
                                                {% if column.attrs.showFieldTitle %}{{ column.header }}: {% endif %}
                                                {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}
                                            </div>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                </li>
                            </ul>
                        {% endblock table.tbody.row %}
                    {% empty %}
                        {% if table.empty_text %}
                            {% block table.tbody.empty_text %}
                                <div>{{ table.empty_text }}</div>
                            {% endblock table.tbody.empty_text %}
                        {% endif %}

                    {% endfor %}
                </div>
            {% endblock table.tbody %}

            {% block table.tfoot %}
                {% if table.has_footer %}
                    <div {{ table.attrs.tfoot.as_html }}>
                    <div>
                        {% for column in table.columns %}
                            <p {{ column.attrs.tf.as_html }}>{{ column.footer }}</p>
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
            {% endblock table.tfoot %}
        {% endblock table %}
</div>
        {% block pagination %}
            {% if table.page and table.paginator.num_pages > 1 %}
                <nav aria-label="Table navigation">
                    <ul class="pagination justify-content-center">
                        {% if table.page.has_previous %}
                            {% block pagination.previous %}
                                <li class="previous page-item">
                                    <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                        {% trans 'previous' %}
                                    </a>
                                </li>
                            {% endblock pagination.previous %}
                        {% endif %}
                        {% if table.page.has_previous or table.page.has_next %}
                            {% block pagination.range %}
                                {% for p in table.page|table_page_range:table.paginator %}
                                    <li class="page-item{% if table.page.number == p %} active{% endif %}">
                                        <a class="page-link" {% if p != '...' %}href="{% querystring table.prefixed_page_field=p %}"{% endif %}>
                                            {{ p }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endblock pagination.range %}
                        {% endif %}
                        {% if table.page.has_next %}
                            {% block pagination.next %}
                                <li class="next page-item">
                                    <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="page-link">
                                        {% trans 'next' %}
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endblock pagination.next %}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endblock pagination %}
{% endblock table-wrapper %}