{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}
{% load mibios_extras %}

{% block content %}

<h3>number of records:</h3>
{{ counts|prettyformat }}

<h3>recent changes</h3>
{% if have_changes %}
{% render_table table %}
<p><a href="{% url 'compact_history' %}">Complete history</a></p>
{% else %}
<p>no change history</p>
{% endif %}
{% if schema_path %}{% load static %}<p><a href="{% static schema_path %}">DB schema</a></p>{% endif %}
<p>For comments, questions, help, requests for user accounts please contact the site maintainer:
{% for i in admins %}
{{ i|last|urlize }} ({{ i|first }})
{% empty %}
(no admins configured)
{% endfor %}
{% endblock %}
