{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}
{% load static mibios_extras %}

{% block link %}
<link rel="stylesheet" href="{% static 'mibios/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}

<h3>number of records:</h3>
<p>
{{ counts|prettyformat }}
</p>

<h3>recent changes</h3>
<p>
{% if have_changes %}
{% render_table table %}
<a href="{% url 'compact_history' %}">Complete history</a>
{% else %}
no change history
{% endif %}
</p>
<p>For comments, questions, help, requests for user accounts please contact the site maintainer:
{% for i in admins %}
{{ i|last|urlize }} ({{ i|first }})
{% empty %}
(no admins configured)
{% endfor %}
{% endblock %}
