{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'mibios/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
<h2>Upload a file with {{ view.data_name }} data</h2>
<p>
Recognized table columns: {{ col_names|join:", " }}
<br>
A name or id column is required.  Other columns may be omitted.  Additional columns will be ignored.
</p>
<form action="{% url 'import' data_name=view.data_name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% if dataset_doc %}
About {{ view.data_name }}:
<pre>{{ dataset_doc }}
</pre>
{% endif %}
{% endblock %}
