{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'mibios/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
{% if model %}
<h2>{{ dataset_verbose_name }} data ({{ count }} records)</h2>

{% if view.filter or view.exclude %}Applied filters:{% endif %}
{% if view.filter %}
with {% for k, v in view.filter.items %}{{ k }}={{ v }}{% endfor %}
{% endif %}
{% if view.exclude %}
without {% for k, v in view.exclude.items %}{{ k }}={{ v }}{% endfor %}
{% endif %}
{% if view.filter or view.exclude %}
<a href="{% url 'queryset_index' dataset=dataset_name %}{{ invquery }}">inverse filter</a>
<br>
{% endif %}

<a href="{% url 'import' dataset=dataset_name %}">import</a>
<a href="{% url 'export' dataset=dataset_name format='csv' %}{{ query }}">export as csv</a>

{% render_table table %}

{% endif %}
{% endblock %}
