{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'mibios/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
{% if model %}
<h2>{{ dataset_verbose_name }} data ({{ count }} records)</h2>

{% if view.filter or view.excludes %}
    {% if view.negate %}(inversely){%endif%}
    applied filters:
{% endif %}
{% if view.filter %}
    with: {% for k, v in view.filter.items %}{{ k }}={{ v }}{% endfor %}
{% endif %}
{% if view.excludes %}
    without:
    {% for e in view.excludes %}
	{% for k, v in e.items %}
	    {{ k }}={{ v }}
	{% endfor %}
    {% endfor %}
{% endif %}
{% if view.filter or view.excludes %}
    <a href="{% url 'queryset_index' dataset=dataset_name %}{{ invquery }}">inverse filter</a>
    <br>
{% endif %}

{% for stats_type, stats_obj in sort_by_stats.items %}
    {# going through this pool only once usually #}
    {% if stats_type == 'choice_counts' %}
	{% if filter_link_data %}
	    {% if view.negate %}
		Sorted column
	    {% else %}
		Filter by
	    {% endif %}
	    {{ sort_by_field }}(count):
	    {% for value, count, query in filter_link_data %}
		{% if view.negate %}
		    {{ value|default:table.default }}({{ count }})
		{% else %}
		    <a href="{% url 'queryset_index' dataset=dataset_name %}{{ query }}">{{ value|default:table.default }}</a>({{ count }})
		{% endif %}
	    {% endfor %}
	    <br>
	{% endif %}
    {% elif stats_type == 'uniform' %}
	Sorted column: "{{ sort_by_field }}" has single value: "{{ uniform_field|first|default:table.default }}"({{ uniform_field|last }})
	    <br>
    {% elif stats_type == 'unique' %}
	Sorted column "{{ sort_by_field }}": all values unique<br>
    {% endif %}
{% endfor %}
<a href="{% url 'import' dataset=dataset_name %}">import</a>
<a href="{% url 'export' dataset=dataset_name format='csv' %}{{ query }}">export as csv</a>

{% render_table table %}

{% endif %}
{% endblock %}
