{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'mibios/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
{% if model %}
<h2>{{ dataset_verbose_name }} data ({{ count }} records)</h2>

{% if avg_by_data %}
    {% if view.avg_by %}
        {# at average view, display link back to normal table view #}
        [<a href="{% url 'queryset_index' dataset=dataset_name %}{{ querystr }}">normal table</a>]<br>
    {% else %}
        {# display links to average views #}
        average by:
        {% for slug, list in avg_by_data.items %}
        [<a href="{% url 'average' dataset=dataset_name avg_by=slug %}{{ querystr }}">{{ list|join:' and '}}</a>]<br>
        {% endfor %}
    {% endif %}
{% endif %}

{% if applied_filter or applied_excludes_list %}
    {% if view.negate %}(inversely){%endif%}
    applied filters (click to remove):
    {% if applied_filter %}
	with:
	{% for lookup, value, remove_query in applied_filter %}
            {# we need a '?' here if removing the current filter results in an otherwise empty querystring, else the browser will see href="" and put in the current URL with current querystring, with '?' the browser links to the current URL with empty querystring (ezcpet for the '?') #}
            <a href="{{ remove_query|default:'?' }}">{{ lookup }}={{ value }}</a>
	{% endfor %}
    {% endif %}
    {% for applied_exclude, remove_query in applied_excludes_list %}
	without:
	<a href="{{ remove_query }}">
	{% for lookup, value in applied_exclude.items %}
	    {{ lookup }}={{ value }}
	{% endfor %}
	</a>
    {% endfor %}
    <a href="{{ invquery }}">inverse filter</a>
    <br>
{% endif %}

{% for stats_type, stats_obj in sort_by_stats.items %}
    {# going through this loop only once usually #}
    {% if stats_type == 'choice_counts' %}
	{% if filter_link_data %}
	    {% if view.negate %}
		Sorted column
	    {% else %}
		Filter by
	    {% endif %}
	    {{ sort_by_field }}(count):
	    {% for value, count, query in filter_link_data %}
		{% if view.negate %}
		    {{ value|default:table.default }}({{ count }})
		{% else %}
		    <a href="{{ query }}">{{ value|default:table.default }}</a>({{ count }})
		{% endif %}
	    {% endfor %}
	    <br>
	{% endif %}
    {% elif stats_type == 'description' %}
	Column stats for {{ sort_by_field }}:
	{% for k, v in stats_obj.items %}
	    {% if k != 'count' %}
		{{ k }}: {{ v|floatformat }}{% if not forloop.last %},{% endif %}
	    {% endif %}
	{% endfor %}
	<br>
    {% elif stats_type == 'uniform' %}
	Sorted column: "{{ sort_by_field }}" has unique value:
	{% for val, count in stats_obj.items %}"{{ val|default:table.default }}"({{ count }}){% endfor %}
	<br>
    {% elif stats_type == 'unique' %}
	Sorted column "{{ sort_by_field }}": all values unique
        {#<form action="{% url 'queryset_index' dataset=dataset_name %}{{ querystr }}" method="get">#}
        <form action="{% url 'queryset_index' dataset=dataset_name %}{{ querystr }}" method="get">
            {{ field_search_form }}
            <input type="submit" value="Search">
        </form>
        <br>
    {% endif %}
{% endfor %}
<a href="{% url 'import' dataset=dataset_name %}">import</a>
{% if view.avg_by %}
    <a href="{% url 'average_export_form' dataset=dataset_name avg_by=avg_url_slug %}{{ querystr }}">export</a>
{% else %}
    <a href="{% url 'export_form' dataset=dataset_name %}{{ querystr }}">export</a>
{% endif %}

{% render_table table %}

{% endif %}
{% endblock %}
