{% extends "mibios/base.html" %}
{% load render_table from django_tables2 %}

{% block navextra %}
{% if view.user_is_curator and curation_switch_conf %}
    <li class="nav-item"><span class="navbar-text">Curation:</span></li>
    <li class="nav-item"><div class="btn-group">
        {% if not curation_switch_conf.is_curated %}
            <button type="button" class="btn btn-dark active disabled">on</button>
        {% endif %}
        <a class="btn btn-dark" role="button" href="{{ curation_switch_conf.url }}">{% if curation_switch_conf.is_curated %}on{% else %}off{% endif %}</a>
        {% if curation_switch_conf.is_curated %}
            <button type="button" class="btn btn-dark active disabled">off</button>
        {% endif %}
    </div></li>
{% endif %}
{% if count_switch_conf %}
<li class="nav-item"><span class="navbar-text">Counts:</span></li>
<li class="nav-item"><div class="btn-group">
    {% if not count_switch_conf.with_counts %}
        <button type="button" class="btn btn-dark active disabled">on</button>
    {% endif %}
    <a class="btn btn-dark" role="button" href="?{{ count_switch_conf.url_query }}">{% if count_switch_conf.with_counts %}on{% else %}off{% endif %}</a>
    {% if count_switch_conf.with_counts %}
        <button type="button" class="btn btn-dark active disabled">off</button>
    {% endif %}
</div></li>
{% endif %}

{% endblock %}

{% block content %}
{% if model %}
<h2>
    {{ view.conf.verbose_name|default:view.conf.name|capfirst }} data
    {% if view.conf.avg_by %}
    (averaged over {{ avg_by_short|join:" / " }}, {{ table.rows|length }} record groups)
    {% else %}
    ({{ table.rows|length }} records)
    {% endif %}
    {% if not view.conf.is_curated %}[CURATION: OFF]{% endif %}
</h2>

{% if avg_by_data %}
    {% if view.conf.avg_by %}
        {# at average view, display link back to normal table view #}
        [<a href="{% url 'table' data_name=url_data_name %}{{ querystr }}">normal table</a>]<br>
    {% else %}
        {# display links to average views #}
        average by:
        {% for slug, list in avg_by_data.items %}
        [<a href="{% url 'average' data_name=url_data_name avg_by=slug %}{{ querystr }}">{{ list|join:' / '}}</a>]<br>
        {% endfor %}
    {% endif %}
{% endif %}

{% if applied_filter or applied_excludes_list %}
    {% if view.conf.negate %}(inversely){%endif%}
    applied filters (click to remove):
    {% if applied_filter %}
	with:
	{% for lookup, value, link_conf in applied_filter %}
            <a href="?{{ link_conf.url_query }}">{{ lookup }}={{ value }}</a>
	{% endfor %}
    {% endif %}
    {% for applied_exclude, link_conf in applied_excludes_list %}
	without:
	<a href="?{{ link_conf.url_query }}">
	{% for lookup, value in applied_exclude.items %}
	    {{ lookup }}={{ value }}
	{% endfor %}
	</a>
    {% endfor %}
    <a href="?{{ view.conf.inverse.url_query }}">inverse filter</a>
    <br>
{% endif %}

{% for stats_type, stats_obj in sort_by_stats.items %}
    {# going through this loop only once usually #}
    {% if stats_type == 'choice_counts' %}
	{% if filter_link_data %}
	    {% if view.conf.negate %}
		Sorted column
	    {% else %}
		Filter by
	    {% endif %}
	    {{ sort_by_field }}(count):
	    {% for value, count, filt_conf, excl_conf in filter_link_data %}
		{% if view.conf.negate %}
		    {{ value|default:table.default }}({{ count }})
		{% else %}
                <a href="?{{ filt_conf.url_query }}">{{ value|default_if_none:table.default }}</a>[<a href="?{{ excl_conf.url_query }}">X</a>]({{ count }})
		{% endif %}
	    {% endfor %}
	    <br>
	{% endif %}
    {% elif stats_type == 'description' %}
	Column stats for {{ sort_by_field }}:
	{% for k, v in stats_obj.items %}
	    {% if k != 'count' %}
		{{ k }}: {{ v|floatformat }}{% if not forloop.last %},{% endif %}
	    {% endif %}
	{% endfor %}
	<br>
    {% elif stats_type == 'uniform' %}
	Sorted column: "{{ sort_by_field }}" has unique value:
	{% for val, count in stats_obj.items %}"{{ val|default:table.default }}"({{ count }}){% endfor %}
	<br>
    {% elif stats_type == 'unique' %}
        Sorted column "{{ sort_by_field }}": all values unique
    {% endif %}
{% endfor %}

{% if field_search_form %}
    <form action="{% url 'table' data_name=url_data_name %}{{ querystr }}" method="get">
        {% for i in field_search_form %}
            {% if not i.is_hidden %}{{ i.label_tag }}{% endif %}{{ i}}
        {% endfor %}
        <input type="submit" value="Search">
    </form>
    <br>
{% endif %}

{% if view.conf.avg_by %}
    [<a href="{% url 'average_export_form' data_name=url_data_name avg_by=avg_url_slug %}{{ querystr }}">export</a>]
{% else %}
    [<a href="{% url 'show_hide_form' data_name=url_data_name %}{{ querystr }}">show/hide columns</a>]
    [<a href="{% url 'import' data_name=data_name %}">import</a>]
    [<a href="{% url 'export_form' data_name=url_data_name %}{{ querystr }}">export</a>]
{% endif %}

{% if table_view_plugin_template %}{% include table_view_plugin_template %}{% endif %}
{% render_table table %}

{% endif %}
{% endblock %}
